<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starter template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'maine.css') }}">
</head>
<body>
    <form action='/pre' method="Post" class="col s12">
        <h1>HAILSTORM PREDICTION INTERFACE</h1> 
        <div class="row">
            <div class="input-field col s4">
                <label for="first_name"><b>LONGITUDE</b></label>
                <br>
                <input id="first_name" name='LON' type="text" class="validate">
            </div>
            <div class="input-field col s4">
                <label for="last_name"><b>LATITUDE</b></label>
                <br>
                <input id="last_name" name='LAT' type="text"  class="validate">
            </div>
            <div class="input-field col s4">
                <label for="_name"><b>RANGE</b></label>
                <br>
                <input id="_name" name='RANGE' type="text" class="validate">
            </div>
            <div class="input-field col s4">
                <label for="name_"><b>AZIMUTH</b></label>
                <br>
                <input id="name_" name='AZIMUTH' type="text" class="validate"/>
            </div>
           
        </div>
        <div class="row_center">
            <button type="submit" class="btn-large">Predict</button>
        </div>
    </form>
    <div>
        <p class="pp">
            {{pred}}
        </p>
    </div>
</body>
</html>