<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starter template</title>
</head>
<body>
    <form action='/earthquake' method="Post" class="col s12">
        <div>
            <button type="submit">earthquake</button>
        </div>
    </form>
    <form action='/flood'method="Post" class="col s12">
        <div>
            <button type="submit">flood</button>
        </div>
    </form>
    <form action='/hailstorm' method="Post" class="col s12">
        <div>
            <button type="submit">hailstorm</button>
        </div>
    </form>
    <div>
        <p>
            {{pred}}
        </p>
    </div>
</body>
</html>